header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgb(17, 17, 17);
  padding: 0.5rem 2.6rem;
  border-bottom: 1px solid rgb(204, 204, 204);
  z-index: 98;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 40px;
  margin-right: 5px;
}

span {
  color: white;
  font-size: 24px;
}

.course {
  background-color: #e5be30;
  font-size: 24px;
  color: rgb(14, 13, 13);
  padding: 8px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  header {
    padding: 11px 15px;
  }
  span {
    font-size: 15px;
  }
  .course {
    font-size: 14px;
    font-weight: 600;
    color: rgb(1, 8, 14);
  }
}
