#background-image img {
  width: 99vw;
  height: 35vh;
}
#profile-image {
  border-radius: 50%;
  margin-top: -7vh;
  margin-left: 43%;
  border: 1.5px solid rgb(82, 52, 52);
}

@media screen and (max-width: 780px) {
  #background-image img {
    height: 30vh;
  }
  #profile-image {
    margin-top: -6vh;
    margin-left: 13%;
    width: 110px;
    height: 110px;
  }
}
